<!DOCTYPE html>
{% load static %}

<head>
    <link rel="stylesheet" href="{% static '/css/styles.css' %}">
</head>

<body>
    <div id="modal">
        <div id="modal_content">
            <h3>Top 5 Most Liked Books</h3>
        </div>
    </div>
    <div class="bg">
        <div class="container">
            <h1>Book Finder</h1>
            <div class="searchBarContainer">
                <input id="search" type="text" placeholder="Search...">
                <button id="button" type="button">search</button>
                <button id="favorites" type="button">Most liked books</button>
            </div>
            <table id="results">

            </table>
        </div>
        
    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="{% static 'js/scripts.js' %}"></script>
</body>

</html>