html, body{
    min-height: 100%;
    height: 100%;
    margin: 0;
}

.bg{
    position: fixed;
    background-color: #3d3d3d;
    display: flex;
    flex-flow: row wrap;
    height: 100%;
    width: 100%;
}

.container{
    overflow: hidden;
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    width: 100%;

}

.searchBarContainer{
    background-color: grey;
    display: flex;
    flex-flow: row wrap;
    width: 100%;
}

#search{
    width: 20%;
    padding: 6px;
    font-size: 17px;
    background-color: rgb(168, 168, 168);
}

#results{
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
}

#authors{
    width: 50%;
    color: white;
    border: 1px solid black;
}

#titles{
    width: 50%;
    color: white;
    border: 1px solid black;
}

.tdata{
    color: white;
    text-align: center;
    border-left: 1px solid black;
    border-right: 1px solid black;
    
}

#modal{
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.1);
    text-align: center;
}

#modal-content{
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid white;
    width: 80%;
}
